nav {
    background-color: rgb(145, 145, 145);
}

.nav-element{
    color: white !important;
}

.nav-hover:hover{
    background-color: rgb(110, 108, 108);
}

section{
    margin-bottom:3%;
    margin-top: 3%;
}