<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Bucket</title>
</head>

<body>
    <nav th:replace="navbarLoged.html :: nav"></nav>
    <h1 th:text="'File: ' + ${fileName}" class="text-center"></h1>
    <article class="container">
        <section>
            <a th:href="@{/objects/{path}(path=${backPath})}"> Go back</a>
        </section>
        <section>
            <a th:href="@{/deleteobj/{bucket}/{object}(bucket=${bucket},object=${objectId})}"
                onclick="return confirm('Do you really want to delete this object?');">
                Delete object (all versions)
            </a>
    </article>
    <article class="container">
        <table class="text-center table table-bordered">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">Upload date</th>
                <th scope="col">Download this version</th>
            </tr>
            <tr th:each="version: ${versions}">
                <td>
                    <p th:text="${fileName}"></p>
                </td>
                <td>
                    <p th:text="${version.versionId}"></p>
                </td>
                <td>
                    <p th:text="${version.uploadDate}"></p>
                </td>
                <td>
                    <a th:href="@{/download/{objid}/{fid}(objid=${version.objectId} ,fid=${version.versionId})}">
                        Download
                    </a>
                </td>
            </tr>
        </table>
    </article>
</body>

</html>