<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="navbar.html :: nav"></nav>
<!--Si pones insert en vez de replace inserta el código en vez de sustituirlo, duplicando en este caso las etiquetas nav-->
<h1>Test</h1>
<p>Página de test</p>
<h2>Ejemplo de variable</h2>
<p th:text="'Aquí hay una ' + ${var}">Aquí no hay nada</p>
<h2>Ejemplo de for</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="p: ${people}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.age}"></td>
    </tr>
</table>
<h2>Ejemplo de if</h2>
<p th:if="${people.size() > 3}">Hay más de 3 personas</p>
<p th:unless="${people.size() > 3}">Hay 3 personas o menos</p>
<h2>Ejemplo de enlace</h2>
<a th:href="@{/people/{name}/{age}/(name=${pName}, age=${pAge})}">Enlace</a>
<h2>Ejemplo insertar variable a lo bruto</h2>
<!--Conviene evitar usar el modo con parentesis, ya que permite insertar html. Con dos corchetes Se muestra el texto en vez de añadirlo al html-->
<p> Hola [[${var}]]</p>
<p>[(${html})]</p>
<p> Abre la consola [(${js})]</p>
<p> Se ha añadido este script [[${js}]]</p>
</body>
</html>